---
import Layout from "@layouts/Layout.astro";
import AnimatedBackground from "@layouts/shared/AnimatedBackground.astro";
---

<Layout title="404 not found" description="Page not found">
  <section
    class="min-h-[80vh] container text-center flex flex-col items-center gap-8 pt-8"
  >
    <h1
      class="text-balance text-6xl md:text-7xl lg:text-8xl font-medium -mt-4 md:mt-0"
    >
      404 - Page Not Found
    </h1>
    <AnimatedBackground />
  </section>
</Layout>
