services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: shopify
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 10
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "7432:5432"

  shopify-plugin:
    image: trieve/shopify-plugin:dens-test
    build:
      context: .
    ports:
      - "3080:3000"
    environment:
      - TRIEVE_AUTH_URL=${TRIEVE_AUTH_URL}
      - DATABASE_URL=${DATABASE_URL}

volumes:
  pgdata:
