apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: glasskube
  namespace: argocd
spec:
  destination:
    server: https://kubernetes.default.svc
  project: default
  source:
    path: glasskube/argocd/glasskube
    repoURL: https://github.com/pmig/trieve
    targetRevision: pmig/gcp-hn-migration
  syncPolicy:
    syncOptions:
      - ApplyOutOfSyncOnly=true
    automated:
      prune: true
      selfHeal: true
