/target
*.env
.env.docker
tmp
node_modules
*.log
story_html
Fictions.csv
# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
.DS_Store
story_html.zip
testing.ipynb
vault-python/testing.ipynb
output.json
temp.json
vault-nodejs/scripts/clean_training_data1.json
vault-python/application.zip
vault-python/arguflow-dataset.zip
vault-python/arguflow-dataset
