/target
*.env
.env.docker
tmp
node_modules
*.log
story_html
Fictions.csv
# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
.DS_Store
story_html.zip
testing.ipynb
vault-python/testing.ipynb
