# Global options
{
    email developer@arguflow.gg
}

# Define a site block for chat.arguflow.ai
self-chat.arguflow.ai {
    reverse_proxy localhost:3000
}

# Define a site block for api.arguflow.ai
self-api.arguflow.ai {
    reverse_proxy localhost:8090
}

# Define a site block for search.arguflow.ai
self-search.arguflow.ai {
    reverse_proxy localhost:3001
}

