---
import SearchLayout from "../../../layouts/SearchLayout.astro";
import PasswordResetForm from "../../../components/PasswordResetForm";
import Footer from "../../../components/Footer.astro";
---

<SearchLayout title="Reset Password | Arguflow Search">
  <div class="flex-1"></div>
  <div class="flex justify-center">
    <PasswordResetForm client:load />
  </div>
  <div class="flex-1"></div>
  <Footer />
</SearchLayout>
