:root {
  --tv-zinc-950: rgb(9 9 11);
  --tv-zinc-200: rgb(228 228 231);
  --tv-zinc-50: rgb(250 250 250);
  --tv-zinc-100: rgb(244 244 245);
  --tv-zinc-200: rgb(228 228 231);
  --tv-zinc-300: rgb(212 212 216);
  --tv-zinc-700: rgb(63 63 70);
  --tv-zinc-800: rgb(39 39 42);
  --tv-zinc-900: rgb(24, 24, 27);
  --tv-zinc-400: rgb(161, 161, 170);
  --tv-zinc-500: rgb(108 108 120);
  --tv-zinc-600: rgb(82 82 91);
}

body {
  #trieve-search-modal-overlay {
    @apply bg-black/60 w-screen fixed inset-0 h-screen animate-overlayShow backdrop-blur-sm z-[998];
  }

  #trieve-search-modal {
    @apply animate-contentShow fixed top-[calc(40%-30vh)] sm:top-[calc(40vh-225px)] left-[50%] max-h-[60vh] w-[90vw] sm:max-w-[550px] -translate-x-[50%] rounded-lg shadow-2xl focus:outline-none font-sans z-[999] overflow-hidden text-base;

    color: var(--tv-zinc-950);
    background-color: var(--tv-zinc-50);

    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: var(--tv-prop-scrollbar-thumb-color);
    }

    .chat-container {
      @apply h-full;

      .chat-outer-wrapper {
        @apply overflow-auto sm:max-h-[50vh] max-h-[87vh];
      }
    }

    &.chat-modal-mobile {
      @apply flex flex-col h-full top-0 sm:top-[calc(40vh-225px)] pt-4 max-h-[100vh] sm:h-fit w-full sm:w-[90vw] rounded-none sm:rounded-lg;

      .chat-outer-wrapper {
        @apply justify-between w-full h-full m-0 sm:mt-12;
      }
      .system-information-wrapper {
        @apply sm:mb-8;
      }
    }

    .trieve-elements-search {
      @apply pr-2;

      .item-group-container {
        @apply border-b border-gray-300 mb-5;
      }
      .item-group-name {
        @apply text-sm font-bold mb-2;
      }
    }

    .no-results {
      @apply text-sm text-center my-8 flex flex-col gap-2;

      > p.no-results-text {
        @apply font-medium;
      }

      > p > a.no-results-help-link {
        @apply underline;
        color: var(--tv-prop-brand-color);
      }
    }

    .no-results-loading {
      @apply text-sm text-center my-8 animate-pulse;
    }

    .clear-query {
      @apply flex items-center justify-end mt-2 absolute top-1.5 right-6 z-30 font-medium;

      > .clear-query-icon {
        @apply w-5 h-5 fill-current;
      }
    }

    .mode-switch-wrapper {
      @apply flex items-center justify-end mt-2 absolute top-0.5 right-7 z-30 font-medium;

      /* apply hidden if both .search and .has-query are present */
      &.search.has-query {
        @apply hidden;
      }

      > div {
        @apply p-0.5 text-xs rounded-md flex;
        background-color: var(--tv-zinc-200);

        button {
          @apply px-2 py-1 rounded-md flex gap-1 items-center transition-all;
          color: var(--tv-zinc-600);

          &.active {
            @apply shadow-sm;
            background-color: var(--tv-zinc-50);
            color: var(--tv-zinc-800);
          }

          svg {
            @apply h-3 w-3;
          }
        }
      }
    }

    ul.tags {
      @apply flex flex-wrap items-center text-xs relative !mt-0;
      color: var(--tv-zinc-800);
      border-color: var(--tv-zinc-200);

      li {
        button {
          @apply flex gap-1 items-center py-1 px-2;
        }
        @apply border-t-2;
        border-color: transparent;
        &:hover,
        &.active {
          background-color: var(--tv-zinc-100);
        }

        &.active {
          border-color: var(--tv-prop-brand-color);
        }
      }
    }
    .chat-footer-wrapper {
      @apply sticky -bottom-2 pt-1 flex flex-col gap-2;
      background-color: var(--tv-zinc-50);
    }

    .trieve-footer {
      @apply sticky pl-1 pr-3 items-center bottom-0;
      background-color: var(--tv-zinc-50);
      border-color: var(--tv-zinc-200);

      &.search {
        @apply border-t;
      }

      .bottom-row {
        @apply flex justify-between;

        button {
          @apply px-2 text-sm py-1;
          color: var(--tv-zinc-700);
          border-color: var(--tv-zinc-300);

          &:hover {
            color: var(--tv-zinc-950);
          }
        }
      }

      .commands {
        @apply hidden sm:flex text-xs grow gap-4 m-0 pt-1;

        > li {
          @apply flex items-center gap-1;

          > kbd {
            @apply inline-flex justify-center items-center py-0.5 px-1 border font-mono rounded-md shadow-sm;
            border-color: var(--tv-zinc-200);
            color: var(--tv-zinc-800);
            background-color: var(--tv-zinc-100);
          }
        }
      }
    }

    .trieve-powered {
      @apply flex items-center justify-end gap-2 select-none cursor-pointer text-sm;
      background-color: var(--bg-color);

      img {
        @apply h-4 w-4 cursor-pointer;
      }
    }

    .chat-modal-wrapper {
      @apply flex flex-col gap-4 mt-1;

      .chat-ul {
        @apply sm:grid sm:grid-cols-[48px,1fr] sm:gap-2 -mt-7;
      }

      .feedback-wrapper {
        @apply flex justify-between my-4;

        .feedback-icons {
          @apply flex space-x-2;

          .icon-darken {
            opacity: 100%;
          }

          button {
            opacity: 50%;
            &:hover,
            &.active {
              opacity: 100%;
            }
          }
        }
      }

      .additional-links {
        @apply flex flex-wrap gap-2 mt-4;

        a {
          @apply rounded px-2 text-xs py-1;
          color: var(--tv-zinc-700);
          background-color: var(--tv-zinc-300);

          &:hover {
            color: var(--tv-zinc-950);
          }
        }
      }

      .additional-image-links {
        @apply grid grid-cols-3 gap-2 mt-4;

        a {
          @apply rounded px-2 text-xs py-1 line-clamp-2 overflow-ellipsis grid-rows-2;
          color: var(--tv-zinc-700);
          background-color: var(--tv-zinc-300);

          &:hover {
            color: var(--tv-zinc-950);
          }
        }

        .ecomm-details {
          @apply flex gap-1 items-center;
        }

        .ecomm-item-title {
          @apply p-0 mb-0.5 line-clamp-2;
        }

        .ecomm-item-price {
          @apply p-0 mb-0.5;
        }

        .ecommerce-featured-image-chat {
          @apply mb-1;
        }
      }

      .user {
        @apply flex gap-1 text-center items-center my-5;

        .user-text {
          @apply text-left;
        }
      }

      .loading-system {
        @apply w-12;
        fill: var(--text-color);
      }

      .system {
        @apply mt-2 sm:mt-8 mb-5 items-center overflow-ellipsis max-w-[calc(100vw)] sm:max-w-[calc(550px-120px)];

        p {
          @apply pb-1;
        }

        .loading {
          @apply h-10 w-10;
        }

        pre {
          @apply my-4 overflow-x-scroll bg-zinc-100 dark:bg-zinc-800 p-4 rounded-md;
        }

        ul {
          @apply list-disc pl-4 my-4;
        }
        ol {
          @apply list-decimal pl-4 my-4;
        }
      }
    }

    h1,
    h2,
    h3,
    h4 {
      @apply font-semibold pb-2  m-0 font-sans leading-normal pt-0 text-base;
    }

    a {
      color: var(--tv-zinc-950);

      &:hover {
        color: var(--tv-zinc-950);
      }
    }

    .kbd-wrapper {
      @apply absolute  right-2 flex py-1.5 pr-1.5;

      kbd {
        @apply inline-flex items-center rounded border  px-1 font-sans text-xs;
        color: var(--tv-zinc-400);
        border-color: var(--tv-zinc-200);
      }
    }

    .close-modal-button {
      @apply absolute top-4 right-4 cursor-pointer;
    }

    .suggested-queries-wrapper {
      @apply flex gap-2 items-center flex-wrap px-5;

      > p {
        @apply text-xs;
        color: var(--tv-zinc-600);
      }
    }

    .suggested-query {
      @apply inline-flex items-center rounded-md px-2 py-1 text-xs text-left;
      color: var(--tv-zinc-900);

      &:not(p) {
        @apply border;
        border-color: var(--tv-zinc-300);
        background-color: var(--tv-zinc-100);
      }

      &:not(:disabled):not(p):hover {
        background-color: var(--tv-zinc-200);
      }

      &:not(p):disabled {
        @apply cursor-not-allowed;
        color: var(--tv-zinc-400);
        border-color: var(--tv-zinc-200);
        background-color: var(--bg-color);
      }

      &.loading {
        @apply animate-pulse;
      }

      &.empty-state-loading {
        @apply animate-pulse;
      }
    }

    @media (max-height: 800px) {
      .chat-outer-wrapper {
        @apply pb-6;
      }
    }
    @media (max-height: 600px) {
      .chat-outer-wrapper {
        @apply pb-16;
      }
    }

    .chat-outer-wrapper {
      @apply flex flex-col mt-12;

      .ai-message {
        .message-wrapper {
          @apply col-span-2 border-t pr-4;
          border-color: var(--tv-zinc-200);
        }

        &.initial-message,
        .message-wrapper {
          @apply sm:grid sm:grid-cols-[48px,1fr] gap-2;
        }

        .ai-avatar {
          @apply sm:w-12 sm:h-12 rounded-full flex items-center space-x-2;

          &.user {
            @apply sm:w-10 h-10 ml-1;
          }

          &.assistant {
            @apply my-5;
          }

          img {
            @apply w-7 sm:w-3/4 sm:h-3/4 sm:mx-auto sm:mt-2;
          }

          svg {
            @apply w-5 h-5 sm:w-3/4 sm:h-3/4 sm:mx-auto sm:mt-2;
          }

          .tag {
            @apply text-sm w-fit px-1.5 py-1 mb-0 rounded-md sm:hidden;
          }
        }

        .brand-name {
          @apply text-white px-1.5 py-1 rounded-md font-[500];
        }
      }
    }

    /* ECOMMERCE */

    .ecommerce-featured-image {
      @apply w-8 max-h-8 mr-4 shrink-0;

      img {
        @apply w-8 max-h-8 shrink-0;
      }
    }

    .variants {
      @apply flex flex-wrap gap-1 items-center text-zinc-700 mt-1;

      button {
        @apply text-[11px] px-1 border-zinc-200 border rounded-sm;
      }

      .variants-title {
        @apply text-[11px];
      }
    }

    /* SUGGESTED QUESTIONS */

    .system-information-wrapper {
      @apply mb-8;

      p {
        @apply mb-6 sm:mb-4;
      }
      .content {
        p {
          @apply m-3;
        }
      }

      h6 {
        @apply text-base font-medium mb-4;
      }

      .header {
        @apply m-0 uppercase text-xs pb-2 flex items-center gap-1;
        color: var(--tv-zinc-500);

        .refetch {
          @apply cursor-pointer border rounded-md p-1 text-xs;

          &:not(:disabled):hover {
            background-color: var(--tv-zinc-200);
          }

          &:disabled {
            @apply cursor-not-allowed;
          }
        }
      }

      .questions {
        @apply text-sm flex flex-wrap gap-2;

        .suggested-question {
          @apply p-2 text-left rounded-md border transition-all;
          border-color: var(--tv-zinc-200);

          &:hover {
            background-color: var(--tv-zinc-200);
          }

          &.loading {
            @apply animate-pulse;
          }
        }
      }
    }

    .input-wrapper {
      @apply sticky top-0 z-10 flex flex-col gap-2;
      background-color: var(--bg-color);

      .input-flex {
        @apply flex items-center;
      }

      .search-icon {
        @apply absolute z-[51] left-2;
        color: var(--tv-zinc-400);
      }

      &.chat {
        @apply mb-2 flex-row sticky bottom-9;

        &::after {
          @apply -top-[7px];
        }

        form {
          @apply w-full;
        }

        .back-icon {
          @apply top-3 left-1 absolute z-20;
        }
      }
    }

    input {
      @apply block w-full rounded-t-md border-0 py-1.5 shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-inset outline-none sm:text-sm sm:leading-6 pl-8 pr-2 h-12 z-10 relative;
      color: var(--tv-zinc-900);
      background-color: var(--tv-zinc-50);
      border: 1px solid var(--tv-zinc-300);
      box-shadow:
        rgb(255, 255, 255) 0px 0px 0px 0px inset,
        var(--tv-zinc-300) 0px 0px 1px inset,
        rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      &::placeholder {
        color: var(--tv-zinc-400);
      }

      &:focus {
        outline: none;
        border: 1px solid var(--tv-prop-brand-color);
        box-shadow:
          rgb(255, 255, 255) 0px 0px 0px 0px inset,
          var(--tv-prop-brand-color) 0px 0px 1px inset,
          rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      }
    }
    ul {
      &:not(.chat-ul) {
        @apply overflow-y-auto overflow-x-hidden max-h-[420px] mx-0 px-0;
        &:not(.trieve-elements-search) {
          @apply mt-4 
        }
      }
    }

    .item {
      @apply select-none cursor-pointer py-2 text-left flex items-start gap-2 w-full text-sm outline-none rounded-lg px-5 overflow-ellipsis;

      background-color: var(--tv-zinc-50);

      .chunk-path {
        color: var(--tv-zinc-600);
        @apply text-xs line-clamp-1 overflow-ellipsis;
      }

      .chunk-title {
        @apply pb-0 text-base;
      }

      .post-method {
        @apply text-xs bg-blue-900 px-1 py-0.5 rounded-md text-blue-400 mr-1;
      }

      .get-method {
        @apply text-xs bg-green-900 px-1 py-0.5 rounded-md text-green-400 mr-1;
      }

      .delete-method {
        @apply text-xs bg-red-900 px-1 py-0.5 rounded-md text-red-400 mr-1;
      }

      .put-method {
        @apply text-xs bg-yellow-900 px-1 py-0.5 rounded-md text-yellow-400 mr-1;
      }

      .patch-method {
        @apply text-xs bg-purple-900 px-1 py-0.5 rounded-md text-purple-400 mr-1;
      }

      h4 {
        @apply overflow-hidden whitespace-nowrap text-ellipsis max-w-[calc(90vw-45px)] sm:max-w-[450px];
      }

      svg {
        @apply shrink-0 w-8;
      }

      mark {
        @apply bg-inherit;
        color: var(--tv-prop-brand-color);
      }

      &.group {
        @apply pl-2 pr-3;
      }

      &.start-chat {
        @apply items-center flex max-w-[calc(90vw-70px)] sm:max-w-none;

        h4 {
          @apply pl-0 pt-0 max-w-[calc(90vw-120px)] sm:max-w-[400px];

          span {
            color: var(--tv-prop-brand-color);
          }
        }

        > div {
          @apply justify-start gap-2;

          > svg {
            @apply shrink-0 w-8;
            color: var(--tv-prop-brand-color);
          }
        }
      }

      &:hover,
      &:focus {
        @apply outline-none ring-0;
        background-color: var(--tv-zinc-100);
      }

      &:hover .arrow-link,
      &:focus .arrow-link {
        color: var(--tv-zinc-600);
      }

      .arrow-link {
        @apply text-transparent w-4 h-4 relative -right-2 shrink-0;
      }

      > div {
        @apply flex items-center justify-between w-full;
      }

      .description {
        color: var(--tv-zinc-600);
        @apply font-normal text-sm m-0;
      }
    }

    &.dark {
      background-color: var(--tv-zinc-900);
      color: var(--tv-zinc-100);

      .ai-message .message-wrapper {
        border-color: var(--tv-zinc-600);
      }
      .variants {
        @apply text-zinc-300;

        button {
          @apply border-zinc-700;
        }
      }
      .bottom-row {
        button {
          color: var(--tv-zinc-300);
          border-color: var(--tv-zinc-700);

          &:hover {
            color: var(--tv-zinc-50);
          }
        }
      }

      ul.tags {
        color: var(--tv-zinc-200);
        border-color: var(--tv-zinc-700);

        li {
          &:hover {
            background-color: var(--tv-zinc-800);
          }

          &:hover,
          &.active {
            background-color: var(--tv-zinc-800);
          }

          &.active {
            border-color: var(--tv-prop-brand-color);
          }
        }
      }

      .mode-switch-wrapper {
        > div {
          background-color: var(--tv-zinc-800);

          button {
            color: var(--tv-zinc-400);

            &.active {
              background-color: var(--tv-zinc-700);
              color: var(--tv-zinc-200);
            }
          }
        }
      }

      .system-information-wrapper {
        .questions {
          .suggested-question {
            border-color: var(--tv-zinc-700);

            &:hover {
              background-color: var(--tv-zinc-800);
            }
          }
        }
        .header {
          .suggested-question {
            border-color: var(--tv-zinc-700);

            &:hover {
              background-color: var(--tv-zinc-800);
            }
          }
        }
      }
      .chat-footer-wrapper {
        background-color: var(--tv-zinc-900);
      }
      .trieve-footer {
        border-color: var(--tv-zinc-700);
        background-color: var(--tv-zinc-900);

        .commands {
          color: var(--tv-zinc-300);

          kbd {
            @apply border;
            border-color: var(--tv-zinc-700);
            color: var(--tv-zinc-300);
            background-color: var(--tv-zinc-800);
          }
        }
      }
      .chat-modal-wrapper {
        background-color: var(--tv-zinc-900);
        color: var(--tv-zinc-100);

        .loading-system {
          @apply w-12;
          fill: var(--tv-zinc-400);
        }

        .chat-ul {
          @apply mb-0;
          border-color: var(--tv-zinc-700);
        }

        .additional-links {
          @apply flex flex-wrap gap-2 mt-4;

          a {
            color: var(--tv-zinc-300);
            background-color: var(--tv-zinc-700);

            &:hover {
              color: var(--tv-zinc-50);
            }
          }
        }
      }
      .kbd-wrapper {
        kbd {
          color: var(--tv-zinc-400);
          border-color: var(--tv-zinc-400);
        }
      }

      a {
        color: var(--tv-zinc-50);
        &:hover {
          color: var(--tv-zinc-50);
        }
      }

      input {
        background-color: var(--tv-zinc-900);
        color: var(--tv-zinc-50);
        outline: none;
        box-shadow:
          rgb(255, 255, 255) 0px 0px 0px 0px inset,
          var(--tv-zinc-600) 0px 0px 1px inset,
          rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        border: 1px solid var(--tv-zinc-600);

        &:focus {
          outline: none;
          border: 1px solid var(--tv-prop-brand-color);
          box-shadow:
            rgb(255, 255, 255) 0px 0px 0px 0px inset,
            var(--tv-prop-brand-color) 0px 0px 1px inset,
            rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        }
      }

      .input-wrapper {
        background-color: var(--tv-zinc-900);

        .suggested-queries-wrapper {
          .suggested-query {
            &:not(p) {
              background-color: var(--tv-zinc-900);
              border-color: var(--tv-zinc-700);
              color: var(--tv-zinc-300);
            }

            &:not(:disabled):not(p):hover {
              background-color: var(--tv-zinc-800);
            }
            &:not(p):disabled {
              @apply cursor-not-allowed;
              color: var(--tv-zinc-400);
              border-color: var(--tv-zinc-700);
              background-color: var(--tv-zinc-900);
            }
          }
          > p {
            @apply text-xs m-0;
            color: var(--tv-zinc-300);
          }
        }

        &::after {
          @apply bg-gradient-to-b;
          background-color: linear-gradient(
            var(--tv-zinc-900),
            var(--tv-zinc-900),
            rgba(0, 0, 0, 0)
          );
          content: "";
        }
      }

      .trieve-powered {
        background-color: var(--tv-zinc-900);
      }

      .item {
        color: var(--tv-zinc-50);
        background-color: var(--tv-zinc-900);
        border-color: var(--tv-zinc-700);

        &:hover,
        &:focus {
          background-color: var(--tv-zinc-800);
        }

        .description {
          color: var(--tv-zinc-400);
        }
      }
    }
  }
}

body {
  #open-trieve-modal {
    @apply flex items-center text-sm leading-6 ring-1 shadow-sm justify-between rounded-md border-0 py-1.5 px-2 sm:text-sm truncate gap-2;

    &:not(.responsive) {
      @apply w-full min-w-[43px] max-w-[300px];
    }

    &.responsive {
      @apply sm:w-full sm:min-w-[43px] sm:max-w-[300px];
    }

    color: var(--tv-zinc-400);
    background-color: var(--tv-zinc-50);
    outline: none;
    border: 1px solid var(--tv-zinc-300);
    box-shadow:
      rgb(255, 255, 255) 0px 0px 0px 0px inset,
      var(--tv-zinc-300) 0px 0px 1px inset,
      rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

    &:hover {
      outline: none;
      border: 1px solid var(--tv-prop-brand-color);
      box-shadow:
        rgb(255, 255, 255) 0px 0px 0px 0px inset,
        var(--tv-prop-brand-color) 0px 0px 1px inset,
        rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    }

    > div {
      @apply flex items-center gap-3;

      &.responsive {
        @apply sm:min-w-[42px];
      }

      &:not(.responsive) {
        @apply min-w-[42px];
      }

      svg {
        @apply min-w-4 flex-none;
        color: var(--tv-zinc-700);

        &:hover {
          color: var(--tv-zinc-800);
        }
      }

      > div {
        @apply truncate min-w-0;
        &.responsive {
          @media (max-width: 640px) {
            display: none;
          }
        }
      }
    }

    .open {
      @apply inline-flex items-center rounded border px-1 font-sans text-xs py-0.5 gap-1;
      color: var(--tv-zinc-400);
      border-color: var(--tv-zinc-200);

      &.responsive {
        @media (max-width: 640px) {
          display: none;
        }
      }

      @media screen and (-webkit-font-smoothing: antialiased) {
        .mac {
          display: block;
        }

        .not-mac {
          display: none;
        }
      }

      .mac {
        display: none;
      }

      .not-mac {
        display: block;
      }
    }

    &.dark {
      @apply hover:brightness-[1.25];
      background-color: var(--tv-zinc-900);
      color: var(--tv-zinc-600);
      outline: none;
      border: 1px solid var(--tv-zinc-600);
      box-shadow:
        rgb(255, 255, 255) 0px 0px 0px 0px inset,
        var(--tv-zinc-600) 0px 0px 1px inset,
        rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      &:hover {
        outline: none;
        border: 1px solid var(--tv-prop-brand-color);
        box-shadow:
          rgb(255, 255, 255) 0px 0px 0px 0px inset,
          var(--tv-prop-brand-color) 0px 0px 1px inset,
          rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      }

      svg {
        color: var(--tv-zinc-300);

        &:hover {
          color: var(--tv-zinc-100);
        }
      }

      span {
        border-color: var(--tv-zinc-400);
        color: var(--tv-zinc-400);
      }
    }
  }
}
