:root {
  --tv-zinc-950: rgb(9 9 11);
  --tv-zinc-200: rgb(228 228 231);
  --tv-zinc-50: rgb(250 250 250);
  --tv-zinc-100: rgb(244 244 245);
  --tv-zinc-800: rgb(39 39 42);
  --tv-zinc-300: rgb(212 212 216);
  --tv-zinc-700: rgb(63 63 70);
  --tv-zinc-900: rgb(24, 24, 27);
  --tv-zinc-400: rgb(161, 161, 170);
  --tv-zinc-600: rgb(82 82 91);
  --tv-primary-500: rgb(163 62 181);
}

body {
  #trieve-search-modal-overlay {
    @apply bg-black/60 w-screen fixed inset-0 h-screen data-[state=open]:animate-overlayShow backdrop-blur-sm z-[998];
  }

  #trieve-search-modal {
    @apply data-[state=open]:animate-contentShow fixed top-[50%] left-[50%] max-h-[80vh] w-[90vw] sm:max-w-[550px] -translate-x-[50%] -translate-y-[50%] rounded-lg p-2 pt-0 shadow-2xl focus:outline-none font-sans z-[999];
    color: var(--tv-zinc-950);
    background-color: var(--tv-zinc-50);

    .trieve-elements-search {
      @apply pr-2;
    }

    .no-results {
      @apply text-sm text-center my-8;
    }

    .no-results-loading {
      @apply text-sm text-center my-8 animate-pulse;
    }

    .mode-switch-wrapper {
      @apply flex items-center justify-end mt-2 absolute top-3 right-4 z-30 font-medium;

      > div {
        @apply p-1 text-xs rounded-md flex;
        background-color: var(--tv-zinc-200);

        button {
          @apply px-3 py-1 rounded-md  flex gap-1 items-center transition-all;
          color: var(--tv-zinc-600);

          &.active {
            @apply shadow-sm;
            background-color: var(--tv-zinc-50);
            color: var(--tv-zinc-800);
          }

          svg {
            @apply h-3 w-3;
          }
        }
      }
    }

    ul.tags {
      @apply flex flex-wrap items-center text-sm border-t  !px-2 !-ml-2 !-mr-2 relative !mt-0;
      color: var(--tv-zinc-800);
      border-color: var(--tv-zinc-200);

      li {
        button {
          @apply flex gap-1 items-center py-2 px-4;
        }
        @apply border-t-2;
        border-color: transparent;
        &:hover,
        &.active {
          background-color: var(--tv-zinc-100);
          border-color: var(--tv-primary-500);
        }
      }
    }

    .footer {
      @apply flex border-t sticky -bottom-2 items-center pt-3 px-2 pb-1;
      background-color: var(--tv-zinc-50);
      border-color: var(--tv-zinc-200);

      .commands {
        @apply flex text-xs grow gap-4 m-0;

        > li {
          @apply flex items-center gap-1;

          > kbd {
            @apply inline-flex justify-center items-center py-0.5 px-1 border font-mono rounded-md shadow-sm;
            border-color: var(--tv-zinc-200);
            color: var(--tv-zinc-800);
            background-color: var(--tv-zinc-100);
          }
        }
      }
    }

    .trieve-powered {
      @apply flex items-center justify-end gap-2 select-none cursor-pointer text-sm;
      background-color: var(--bg-color);

      img {
        @apply h-4 w-4 cursor-pointer;
      }
    }

    .chat-modal-wrapper {
      @apply flex flex-col gap-4 relative mt-1;

      .chat-ul {
        @apply rounded border p-4;
        border-color: var(--tv-zinc-300);
      }

      .additional-links {
        @apply flex flex-wrap gap-2 mt-4;

        a {
          @apply rounded px-2 text-xs py-1;
          color: var(--tv-zinc-700);
          background-color: var(--tv-zinc-300);

          &:hover {
            color: var(--tv-zinc-950);
          }
        }
      }

      .user {
        @apply font-medium flex gap-1;
        color: var(--tv-primary-500);
      }

      .loading-system {
        @apply w-12;
        fill: var(--text-color);
      }

      .system {
        @apply text-sm mt-4;
        p {
          @apply pb-1;
        }
        pre {
          @apply my-4;
        }

        ul {
          @apply list-disc pl-4 my-4;
        }
        ol {
          @apply list-decimal pl-4 my-4;
        }
      }
    }

    h1,
    h2,
    h3,
    h4 {
      @apply font-semibold pb-2  m-0 font-sans leading-normal pt-0 text-base;
    }

    a {
      color: var(--tv-zinc-950);

      &:hover {
        color: var(--tv-zinc-950);
      }
    }

    .kbd-wrapper {
      @apply absolute  right-2 flex py-1.5 pr-1.5;

      kbd {
        @apply inline-flex items-center rounded border  px-1 font-sans text-xs;
        color: var(--tv-zinc-400);
        border-color: var(--tv-zinc-200);
      }
    }

    .close-modal-button {
      @apply absolute top-4 right-4 cursor-pointer;
    }

    .input-wrapper {
      @apply sticky top-0 pt-2 z-10 mt-1 flex flex-col gap-2;
      background-color: var(--bg-color);

      .input-flex {
        @apply flex items-center;
      }

      .suggested-queries-wrapper {
        @apply flex gap-2 items-center flex-wrap;

        > p {
          @apply text-xs;
          color: var(--tv-zinc-600);
        }
      }

      .suggested-query {
        @apply inline-flex items-center rounded-md px-2 py-1 text-xs text-left;
        color: var(--tv-zinc-900);

        &:not(p) {
          @apply border;
          border-color: var(--tv-zinc-300);
          background-color: var(--tv-zinc-100);
        }

        &:not(:disabled):not(p):hover {
          background-color: var(--tv-zinc-200);
        }

        &:not(p):disabled {
          @apply cursor-not-allowed;
          color: var(--tv-zinc-400);
          border-color: var(--tv-zinc-200);
          background-color: var(--bg-color);
        }

        &.loading {
          @apply animate-pulse;
        }

        &.empty-state-loading {
          @apply animate-pulse;
        }
      }

      &::after {
        @apply absolute h-[17px] w-full z-50 block -bottom-[17px] bg-gradient-to-b;
        background-color: linear-gradient(
          var(--tv-zinc-50),
          var(--tv-zinc-50),
          rgba(0, 0, 0, 0)
        );
        content: "";
      }

      .search-icon {
        @apply absolute z-[51] left-2;
        color: var(--tv-zinc-400);
      }

      &.chat {
        @apply flex-row;

        form {
          @apply w-full;
        }
        .back-icon {
          @apply top-5 left-1 absolute z-20;
        }
      }
    }

    input {
      @apply block w-full rounded-md border-0 py-1.5 pr-14 shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-inset outline-none sm:text-sm sm:leading-6 px-4 pl-8 h-12 z-10 relative;
      color: var(--tv-zinc-900);
      background-color: var(--tv-zinc-50);
      border: 1px solid var(--tv-zinc-300);
      box-shadow:
        rgb(255, 255, 255) 0px 0px 0px 0px inset,
        var(--tv-zinc-300) 0px 0px 1px inset,
        rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      &::placeholder {
        color: var(--tv-zinc-400);
      }

      &:focus {
        outline: none;
        border: 1px solid var(--tv-primary-500);
        box-shadow:
          rgb(255, 255, 255) 0px 0px 0px 0px inset,
          var(--tv-primary-500) 0px 0px 1px inset,
          rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      }
    }
    ul {
      @apply mt-4;

      &:not(.chat-ul) {
        @apply overflow-auto max-h-[420px] mt-4 mx-0 px-0;
      }
    }

    .item {
      @apply select-none cursor-pointer px-4 py-2 text-left flex items-start gap-2 w-full text-sm outline-none rounded-lg;
      background-color: var(--tv-zinc-50);

      &.start-chat {
        @apply items-center flex;

        h4 {
          @apply p-0;

          span {
            color: var(--tv-primary-500);
          }
        }

        > div {
          @apply justify-start gap-4;

          > svg {
            color: var(--tv-primary-500);
          }
        }
      }

      &:hover,
      &:focus {
        @apply outline-none ring-0;
        background-color: var(--tv-zinc-100);
      }

      &:hover .arrow-link,
      &:focus .arrow-link {
        color: var(--tv-zinc-600);
      }

      .arrow-link {
        @apply text-transparent w-4 h-4 relative -right-2 shrink-0;
      }

      > div {
        @apply flex items-center justify-between w-full;
      }

      .description {
        color: var(--tv-zinc-600);
        @apply font-normal text-xs m-0;
      }
    }

    &.dark {
      background-color: var(--tv-zinc-900);
      color: var(--tv-zinc-100);

      ul.tags {
        color: var(--tv-zinc-200);
        border-color: var(--tv-zinc-700);

        li {
          &:hover,
          &.active {
            background-color: var(--tv-zinc-800);
            border-color: var(--tv-primary-500);
          }
        }
      }

      .footer {
        border-color: var(--tv-zinc-700);
        background-color: var(--tv-zinc-900);

        .commands {
          @apply flex text-xs grow gap-4 m-0;
          color: var(--tv-zinc-300);

          kbd {
            @apply border;
            border-color: var(--tv-zinc-700);
            color: var(--tv-zinc-300);
            background-color: var(--tv-zinc-800);
          }
        }
      }
      .chat-modal-wrapper {
        background-color: var(--tv-zinc-900);
        color: var(--tv-zinc-100);

        .loading-system {
          @apply w-12;
          fill: var(--tv-zinc-400);
        }

        .user {
          @apply text-magenta-400;
        }

        .chat-ul {
          @apply mb-0;
          border-color: var(--tv-zinc-700);
        }

        .additional-links {
          @apply flex flex-wrap gap-2 mt-4;

          a {
            color: var(--tv-zinc-300);
            background-color: var(--tv-zinc-700);

            &:hover {
              color: var(--tv-zinc-50);
            }
          }
        }
      }
      .kbd-wrapper {
        kbd {
          color: var(--tv-zinc-400);
          border-color: var(--tv-zinc-400);
        }
      }

      a {
        color: var(--tv-zinc-50);
        &:hover {
          color: var(--tv-zinc-50);
        }
      }

      input {
        background-color: var(--tv-zinc-900);
        color: var(--tv-zinc-50);
        outline: none;
        box-shadow:
          rgb(255, 255, 255) 0px 0px 0px 0px inset,
          var(--tv-zinc-600) 0px 0px 1px inset,
          rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        border: 1px solid var(--tv-zinc-600);

        &:focus {
          outline: none;
          border: 1px solid var(--tv-primary-500);
          box-shadow:
            rgb(255, 255, 255) 0px 0px 0px 0px inset,
            var(--tv-primary-500) 0px 0px 1px inset,
            rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        }
      }

      .input-wrapper {
        background-color: var(--tv-zinc-900);

        .suggested-queries-wrapper {
          .suggested-query {
            &:not(p) {
              background-color: var(--tv-zinc-900);
              border-color: var(--tv-zinc-700);
              color: var(--tv-zinc-300);
            }

            &:not(:disabled):not(p):hover {
              background-color: var(--tv-zinc-800);
            }
            &:not(p):disabled {
              @apply cursor-not-allowed;
              color: var(--tv-zinc-400);
              border-color: var(--tv-zinc-700);
              background-color: var(--tv-zinc-900);
            }
          }
          > p {
            @apply text-xs m-0;
            color: var(--tv-zinc-300);
          }
        }

        &::after {
          @apply bg-gradient-to-b;
          background-color: linear-gradient(
            var(--tv-zinc-900),
            var(--tv-zinc-900),
            rgba(0, 0, 0, 0)
          );
          content: "";
        }
      }

      .trieve-powered {
        background-color: var(--tv-zinc-900);
      }

      .item {
        color: var(--tv-zinc-50);
        background-color: var(--tv-zinc-900);
        border-color: var(--tv-zinc-700);

        &:hover,
        &:focus {
          background-color: var(--tv-zinc-800);
        }

        .description {
          color: var(--tv-zinc-400);
        }
      }
    }
  }
}
body {
  #open-trieve-modal {
    @apply w-full flex items-center text-sm leading-6 ring-1 shadow-sm justify-between  rounded-md border-0 py-1.5 px-2 sm:text-sm truncate gap-2 min-w-[43px]  max-w-[300px];
    color: var(--tv-zinc-400);
    background-color: var(--tv-zinc-50);
    outline: none;
    border: 1px solid var(--tv-zinc-300);
    box-shadow:
      rgb(255, 255, 255) 0px 0px 0px 0px inset,
      var(--tv-zinc-300) 0px 0px 1px inset,
      rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

    &:hover {
      outline: none;
      border: 1px solid var(--tv-primary-500);
      box-shadow:
        rgb(255, 255, 255) 0px 0px 0px 0px inset,
        var(--tv-primary-500) 0px 0px 1px inset,
        rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    }

    > div {
      @apply flex items-center gap-3 min-w-[42px];

      svg {
        @apply min-w-4 flex-none;
        color: var(--tv-zinc-700);

        &:hover {
          color: var(--tv-zinc-800);
        }
      }

      > div {
        @apply truncate min-w-0;
      }
    }

    .open {
      @apply inline-flex items-center rounded border px-1 font-sans text-xs py-0.5 gap-1;
      color: var(--tv-zinc-400);
      border-color: var(--tv-zinc-200);

      @media screen and (-webkit-font-smoothing: antialiased) {
        .mac {
          display: block;
        }

        .not-mac {
          display: none;
        }
      }

      .mac {
        display: none;
      }

      .not-mac {
        display: block;
      }
    }
    &.dark {
      @apply hover:brightness-[1.25];
      background-color: var(--tv-zinc-900);
      color: var(--tv-zinc-600);
      outline: none;
      border: 1px solid var(--tv-zinc-600);
      box-shadow:
        rgb(255, 255, 255) 0px 0px 0px 0px inset,
        var(--tv-zinc-600) 0px 0px 1px inset,
        rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      &:hover {
        outline: none;
        border: 1px solid var(--tv-primary-500);
        box-shadow:
          rgb(255, 255, 255) 0px 0px 0px 0px inset,
          var(--tv-primary-500) 0px 0px 1px inset,
          rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      }

      svg {
        color: var(--tv-zinc-300);

        &:hover {
          color: var(--tv-zinc-100);
        }
      }

      span {
        border-color: var(--tv-zinc-400);
        color: var(--tv-zinc-400);
      }
    }
  }
}
