---
import SearchLayout from "../../layouts/SearchLayout.astro";
import LoginForm from "../../components/LoginForm";
import Footer from "../../components/Footer.astro";
---

<SearchLayout title="Login | Arguflow Search">
  <div class="flex-1"></div>
  <div class="flex justify-center">
    <LoginForm client:load />
  </div>
  <div class="flex-1"></div>
  <Footer />
</SearchLayout>
