VITE_API_HOST="http://localhost:8090/api"
VITE_SEARCH_UI_URL="http://localhost:5174"
VITE_CHAT_UI_URL="http://localhost:5173"
VITE_SENTRY_DSN="https://54f4b04a7d6f500005ee5dededad749c@sentry1.internal.trieve.ai/7"
