@tailwind base;
@tailwind components;
@tailwind utilities;

div.tox.tox-tinymce {
  min-height: 200px;
}

mark > div > * {
  background-color: #ff0;
  color: #000;
  font-weight: bolder;
  width: fit-content;
}

mark > p {
  background-color: #ff0;
  color: #000;
  font-weight: bolder;
  width: fit-content;
}
