@tailwind base;
@tailwind components;
@tailwind utilities;

div.tox.tox-tinymce {
  min-height: 200px;
}

.debug {
  outline: 1px solid red;
}

mark > div > * {
  background-color: #ff0;
  color: #000;
  font-weight: bolder;
  width: fit-content;
}

mark > p {
  background-color: #ff0;
  color: #000;
  font-weight: bolder;
  width: fit-content;
}

html {
  scrollbar-gutter: stable;
}

code {
  color: #1c709b;
  background-color: #edf7fc;
  padding: 3px 8px;
  border-radius: 3px;
  white-space: pre-wrap;
  display: inline-block;
  margin: 3px 0
}