@tailwind base;
@tailwind components;
@tailwind utilities;

div.tox.tox-tinymce {
  min-height: 200px;
}

.debug {
  outline: 1px solid red;
}

mark>div>* {
  background-color: #ff0;
  color: #000;
  font-weight: bolder;
  width: fit-content;
}

mark>p {
  background-color: #ff0;
  color: #000;
  font-weight: bolder;
  width: fit-content;
}

html {
  scrollbar-gutter: stable;
}

code {
  color: #1c709b;
  background-color: #edf7fc;
  padding: 3px 8px;
  border-radius: 3px;
  white-space: pre-wrap;
  display: inline-block;
  margin: 3px 0
}

#score-chunk-html h1 {
  font-size: 1.5em;
  font-weight: bold;
}

#score-chunk-html h2 {
  font-size: 1.25em;
  font-weight: bold;
}

#score-chunk-html h3 {
  font-size: 1.1em;
  font-weight: bold;
}

#score-chunk-html h4 {
  font-size: 1em;
  font-weight: bold;
}

#score-chunk-html h5 {
  font-size: 0.9em;
  font-weight: bold;
}

#score-chunk-html h6 {
  font-size: 0.8em;
  font-weight: bold;
}

#score-chunk-html a {
  text-decoration: underline;

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
