---
import SearchLayout from "../layouts/SearchLayout.astro";
import Footer from "../components/Footer.astro";
---

<SearchLayout title="Page Not Found">
  <div class="flex-1"></div>
  <div class="flex w-full flex-col items-center">
    <p class="text-3xl">404 Not Found</p>
    <a class="text-xl text-turquoise-500 underline" href="/"> Head Back Home</a>
  </div>
  <div class="flex-1"></div>
  <Footer />
</SearchLayout>
