---
import SearchLayout from "../layouts/SearchLayout.astro";
import Footer from "../components/Footer.astro";
---

<SearchLayout title="Page Not Found">
  <div class="mt-12 flex w-full flex-col items-center space-y-4">
    <a class="flex w-full items-center justify-center" href="/">
      <img class="w-12" src="/logo_transparent.png" alt="Logo" />
      <div class="text-4xl">
        Arguflow<span class="text-magenta">Search</span>
      </div>
    </a>
  </div>
  <div class="flex-1"></div>
  <div class="flex w-full flex-col items-center">
    <p class="text-3xl">404 Not Found</p>
    <a class="text-xl text-turquoise-500 underline" href="/"> Head Back Home</a>
  </div>
  <div class="flex-1"></div>
  <Footer />
</SearchLayout>
