---
import SearchLayout from "../layouts/SearchLayout.astro";
import CreateNewEvidenceForm from "../components/CreateNewEvidenceForm";
import Footer from "../components/Footer.astro";
---

<head>
  <script src="/tinymce/tinymce.min.js" :inline></script>
</head>
<SearchLayout title="Create Card | Arguflow Search">
  <div class="mt-4 flex w-full flex-col items-center space-y-4 px-4 sm:mt-12">
    <a class="flex w-full items-center justify-center" href="/">
      <img class="w-12" src="/logo_transparent.png" alt="Logo" />
      <h1 class="text-4xl text-center">Create New Evidence Card</h1>
    </a>
    <div class="w-full max-w-4xl px-4 sm:px-8 md:px-20">
      <CreateNewEvidenceForm client:only />
    </div>
  </div>
  <div class="flex-1"></div>
  <Footer />
</SearchLayout>
