---
import SearchLayout from "../layouts/SearchLayout.astro";
import { CreateNewDocChunkForm } from "../components/CreateNewDocChunkForm";
import Footer from "../components/Footer.astro";
import { useStore } from "@nanostores/solid";
import { clientConfig } from "../stores/envsStore";

const $envs = useStore(clientConfig);
const create_evidence_feature = $envs()?.PUBLIC_CREATE_EVIDENCE_FEATURE;
if (!create_evidence_feature) {
  return Astro.redirect("/404");
}
---

<head>
  <script src="/tinymce/tinymce.min.js" :inline></script>
</head>
<SearchLayout title="Create Document Chunk | Arguflow Search">
  <div class="mt-4 flex w-full flex-col items-center space-y-4 px-4 sm:mt-12">
    <a class="flex w-full items-center justify-center" href="/">
      <img class="w-12" src="/logo_transparent.png" alt="Logo" />
      <h1 class="text-4xl text-center">Create New Document Chunk</h1>
    </a>
    <div class="w-full max-w-4xl px-4 sm:px-8 md:px-20">
      <CreateNewDocChunkForm client:only />
    </div>
  </div>
  <div class="flex-1"></div>
  <Footer />
</SearchLayout>
