{
  "openapi": "3.0.3",
  "info": {
    "title": "Trieve API",
    "description": "Trieve OpenAPI Specification. This document describes all of the operations available through the Trieve API.",
    "contact": {
      "name": "Trieve Team",
      "url": "https://trieve.ai",
      "email": "developers@trieve.ai"
    },
    "license": {
      "name": "BSL",
      "url": "https://github.com/devflowinc/trieve/blob/main/LICENSE.txt"
    },
    "version": "0.13.0"
  },
  "servers": [
    {
      "url": "https://api.trieve.ai",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8090",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/api/analytics": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get Analytics",
        "description": "This route allows you to view the analytics for a dataset using a structured query.",
        "operationId": "get_analytics",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to filter the graph",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The analytics for the dataset",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/analytics/ctr": {
      "put": {
        "tags": [
          "Analytics"
        ],
        "summary": "Send CTR Data",
        "description": "This route allows you to send clickstream data to the system. Clickstream data is used to fine-tune the re-ranking of search results and recommendations.",
        "operationId": "send_ctr_data",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to send CTR data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CTRDataRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The CTR data was successfully sent"
          },
          "400": {
            "description": "Service error relating to sending CTR data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/analytics/events": {
      "put": {
        "tags": [
          "Analytics"
        ],
        "summary": "Send User Event Data",
        "description": "This route allows you to send user event data to the system.",
        "operationId": "send_event_data",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to send event data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventTypes"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The event data was successfully sent"
          },
          "400": {
            "description": "Service error relating to sending event data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/analytics/events/all": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get All User Events",
        "description": "This route allows you to view all user events.",
        "operationId": "get_all_events",
        "requestBody": {
          "description": "JSON request payload to filter the events",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEventsRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The events for the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEventsResponseBody"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to getting events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/analytics/events/component": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get Component Analytics",
        "description": "This route allows you to view the component analytics for a dataset.",
        "operationId": "get_component_analytics",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to filter the graph",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentAnalytics"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The component analytics for the dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentAnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to getting component analytics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/analytics/events/ctr": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get CTR Analytics",
        "description": "This route allows you to view the CTR analytics for a dataset.",
        "operationId": "get_ctr_analytics",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to filter the graph",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CTRAnalytics"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The CTR analytics for the dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTRAnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to getting CTR analytics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/analytics/events/{event_id}": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get User Event By ID",
        "description": "This route allows you to view an user event by its ID. You can pass in any type of event and get the details for that event.",
        "operationId": "get_event_by_id",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "The event id to use for the request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The event for the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventData"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to getting an event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/analytics/rag": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get RAG Analytics",
        "description": "This route allows you to view the RAG analytics for a dataset.",
        "operationId": "get_rag_analytics",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to filter the graph",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RAGAnalytics"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The RAG analytics for the dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RAGAnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to getting RAG analytics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Analytics"
        ],
        "summary": "Rate RAG",
        "description": "This route allows you to Rate a RAG query.",
        "operationId": "set_rag_query_rating",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to rate a RAG query",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RateQueryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The RAG query was successfully rated"
          },
          "400": {
            "description": "Service error relating to rating a RAG query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/analytics/recommendations": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get Recommendation Analytics",
        "description": "This route allows you to view the recommendation analytics for a dataset.",
        "operationId": "get_recommendation_analytics",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to filter the graph",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecommendationAnalytics"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The recommendation analytics for the dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationAnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to getting recommendation analytics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/analytics/search": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get Search Analytics",
        "description": "This route allows you to view the search analytics for a dataset.",
        "operationId": "get_search_analytics",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to filter the graph",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchAnalytics"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The search analytics for the dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchAnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to getting search analytics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Analytics"
        ],
        "summary": "Rate Search",
        "description": "This route allows you to Rate a search query.",
        "operationId": "set_search_query_rating",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to rate a search query",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RateQueryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The search query was successfully rated"
          },
          "400": {
            "description": "Service error relating to rating a search query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/analytics/search/cluster": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get Cluster Analytics",
        "description": "This route allows you to view the cluster analytics for a dataset.",
        "operationId": "get_cluster_analytics",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to filter the graph",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterAnalytics"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The cluster analytics for the dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterAnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to getting cluster analytics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/analytics/top": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get Top Datasets",
        "description": "This route allows you to view the top datasets for a given type.",
        "operationId": "get_top_datasets",
        "parameters": [
          {
            "name": "TR-Organization",
            "in": "header",
            "description": "The organization id to use for the request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to filter the top datasets",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTopDatasetsRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The top datasets for the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TopDatasetsResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to getting top datasets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/auth": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Login",
        "description": "This will redirect you to the OAuth provider for authentication with email/pass, SSO, Google, Github, etc.",
        "operationId": "login",
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "description": "ID of organization to authenticate into",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "URL to redirect to after successful login",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "inv_code",
            "in": "query",
            "description": "Code sent via email as a result of successful call to send_invitation",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          }
        ],
        "responses": {
          "303": {
            "description": "Response that redirects to OAuth provider through a Location header to be handled by browser."
          },
          "400": {
            "description": "OAuth error likely with OIDC provider.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout",
        "description": "Invalidate your current auth credential stored typically stored in a cookie. This does not invalidate your API key.",
        "operationId": "logout",
        "responses": {
          "204": {
            "description": "Confirmation that your current auth token has been invalidated. This does not invalidate your API key."
          }
        }
      }
    },
    "/api/auth/callback": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "OpenID Connect callback",
        "description": "This is the callback route for the OAuth provider, it should not be called directly. Redirects to browser with set-cookie header.",
        "operationId": "oidc_callback",
        "responses": {
          "200": {
            "description": "Response that returns with set-cookie header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlimUser"
                }
              }
            }
          },
          "400": {
            "description": "Email or password empty or incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/create_api_only_user": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "create_api_only_user",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiUserBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The user id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error message indicitating you are not currently signed in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get Me",
        "description": "Get the user corresponding to your current auth credentials.",
        "operationId": "get_me",
        "responses": {
          "200": {
            "description": "The user corresponding to your current auth credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlimUser"
                }
              }
            }
          },
          "400": {
            "description": "Error message indicitating you are not currently signed in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      }
    },
    "/api/chunk": {
      "post": {
        "tags": [
          "Chunk"
        ],
        "summary": "Create or Upsert Chunk or Chunks",
        "description": "Create new chunk(s). If the chunk has the same tracking_id as an existing chunk, the request will fail. Once a chunk is created, it can be searched for using the search endpoint.\nIf uploading in bulk, the maximum amount of chunks that can be uploaded at once is 120 chunks. Auth'ed user or api key must have an admin or owner role for the specified dataset's organization.",
        "operationId": "create_chunk",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to create a new chunk (chunk)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChunkReqPayloadEnum"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "JSON response payload containing the created chunk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnQueuedChunk"
                }
              }
            }
          },
          "400": {
            "description": "Error typically due to deserialization issues",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "413": {
            "description": "Error when more than 120 chunks are provided in bulk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "426": {
            "description": "Error when upgrade is needed to process more chunks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Chunk"
        ],
        "summary": "Update Chunk",
        "description": "Update a chunk. If you try to change the tracking_id of the chunk to have the same tracking_id as an existing chunk, the request will fail. Auth'ed user or api key must have an admin or owner role for the specified dataset's organization.",
        "operationId": "update_chunk",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to update a chunk (chunk)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChunkReqPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No content Ok response indicating the chunk was updated as requested"
          },
          "400": {
            "description": "Service error relating to to updating chunk, likely due to conflicting tracking_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Chunk"
        ],
        "summary": "Bulk Delete Chunks",
        "description": "Delete multiple chunks using a filter. Auth'ed user or api key must have an admin or owner role for the specified dataset's organization.",
        "operationId": "bulk_delete_chunk",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to speicy a filter to bulk delete chunks",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteChunkPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Confirmation that the chunk with the id specified was deleted"
          },
          "400": {
            "description": "Service error relating to finding a chunk by tracking_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/chunk/autocomplete": {
      "post": {
        "tags": [
          "Chunk"
        ],
        "summary": "Autocomplete",
        "description": "This route provides the primary autocomplete functionality for the API. This prioritize prefix matching with semantic or full-text search.",
        "operationId": "autocomplete",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "The API version to use for this request. Defaults to V2 for orgs created after July 12, 2024 and V1 otherwise.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/APIVersion"
                }
              ],
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to semantically search for chunks (chunks)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutocompleteReqPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Chunks with embedding vectors which are similar to those in the request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponseTypes"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to searching",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      }
    },
    "/api/chunk/count": {
      "post": {
        "tags": [
          "Chunk"
        ],
        "summary": "Count chunks above threshold",
        "description": "This route can be used to determine the number of chunk results that match a search query including score threshold and filters. It may be high latency for large limits. There is a dataset configuration imposed restriction on the maximum limit value (default 10,000) which is used to prevent DDOS attacks. Auth'ed user or api key must have an admin or owner role for the specified dataset's organization.",
        "operationId": "count_chunks",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to count chunks for a search query",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CountChunksReqPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Number of chunks satisfying the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountChunkQueryResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Failed to count chunks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      }
    },
    "/api/chunk/generate": {
      "post": {
        "tags": [
          "Chunk"
        ],
        "summary": "RAG on Specified Chunks",
        "description": "This endpoint exists as an alternative to the topic+message resource pattern where our Trieve handles chat memory. With this endpoint, the user is responsible for providing the context window and the prompt and the conversation is ephemeral.",
        "operationId": "generate_off_chunks",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to perform RAG on some chunks (chunks)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateOffChunksReqPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "This will be a JSON response of a string containing the LLM's generated inference. Response if not streaming.",
            "headers": {
              "TR-QueryID": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "Query ID that is used for tracking analytics"
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to to updating chunk, likely due to conflicting tracking_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      }
    },
    "/api/chunk/recommend": {
      "post": {
        "tags": [
          "Chunk"
        ],
        "summary": "Get Recommended Chunks",
        "description": "Get recommendations of chunks similar to the positive samples in the request and dissimilar to the negative.",
        "operationId": "get_recommended_chunks",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "The API version to use for this request. Defaults to V2 for orgs created after July 12, 2024 and V1 otherwise.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/APIVersion"
                }
              ],
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to get recommendations of chunks similar to the chunks in the request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecommendChunksRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Chunks with embedding vectors which are similar to positives and dissimilar to negatives",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendResponseTypes"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to to getting similar chunks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      }
    },
    "/api/chunk/search": {
      "post": {
        "tags": [
          "Chunk"
        ],
        "summary": "Search",
        "description": "This route provides the primary search functionality for the API. It can be used to search for chunks by semantic similarity, full-text similarity, or a combination of both. Results' `chunk_html` values will be modified with `<mark><b>` or custom specified tags for sub-sentence highlighting.",
        "operationId": "search_chunks",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "The API version to use for this request. Defaults to V2 for orgs created after July 12, 2024 and V1 otherwise.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/APIVersion"
                }
              ],
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to semantically search for chunks (chunks)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchChunksReqPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Chunks with embedding vectors which are similar to those in the request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponseTypes"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to searching",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      }
    },
    "/api/chunk/split": {
      "post": {
        "tags": [
          "Chunk"
        ],
        "summary": "Split HTML Content into Chunks",
        "description": "This endpoint receives a single html string and splits it into chunks based on the headings and\nbody content. The headings are split based on heading html tags. chunk_html has a maximum size\nof 256Kb.",
        "operationId": "split_html_content",
        "requestBody": {
          "description": "JSON request payload to perform RAG on some chunks (chunks)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChunkHtmlContentReqPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "This will be a JSON response of the chunks split from the HTML content with the headings and body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SplitHtmlResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large, if the HTML contnet is greater than 256Kb",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/api/chunk/suggestions": {
      "post": {
        "tags": [
          "Chunk"
        ],
        "summary": "Generate suggested queries",
        "description": "This endpoint will generate 3 suggested queries based off a hybrid search using RAG with the query provided in the request body and return them as a JSON object.",
        "operationId": "get_suggested_queries",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to get alternative suggested queries",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestedQueriesReqPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A JSON object containing a list of alternative suggested queries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestedQueriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to to updating chunk, likely due to conflicting tracking_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      }
    },
    "/api/chunk/tracking_id/update": {
      "put": {
        "tags": [
          "Chunk"
        ],
        "summary": "Update Chunk By Tracking Id",
        "description": "Update a chunk by tracking_id. This is useful for when you are coordinating with an external system and want to use the tracking_id to identify the chunk. Auth'ed user or api key must have an admin or owner role for the specified dataset's organization.",
        "operationId": "update_chunk_by_tracking_id",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to update a chunk by tracking_id (chunks)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChunkByTrackingIdData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Confirmation that the chunk has been updated as per your request"
          },
          "400": {
            "description": "Service error relating to to updating chunk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/chunk/tracking_id/{tracking_id}": {
      "get": {
        "tags": [
          "Chunk"
        ],
        "summary": "Get Chunk By Tracking Id",
        "description": "Get a singular chunk by tracking_id. This is useful for when you are coordinating with an external system and want to use your own id as the primary reference for a chunk.",
        "operationId": "get_chunk_by_tracking_id",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "The API version to use for this request. Defaults to V2 for orgs created after July 12, 2024 and V1 otherwise.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/APIVersion"
                }
              ],
              "nullable": true
            }
          },
          {
            "name": "tracking_id",
            "in": "path",
            "description": "tracking_id of the chunk you want to fetch",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "chunk with the tracking_id that you were searching for",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChunkReturnTypes"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to fidning a chunk by tracking_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Chunk not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Chunk"
        ],
        "summary": "Delete Chunk By Tracking Id",
        "description": "Delete a chunk by tracking_id. This is useful for when you are coordinating with an external system and want to use the tracking_id to identify the chunk. Auth'ed user or api key must have an admin or owner role for the specified dataset's organization.",
        "operationId": "delete_chunk_by_tracking_id",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tracking_id",
            "in": "path",
            "description": "tracking_id of the chunk you want to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Confirmation that the chunk with the tracking_id specified was deleted"
          },
          "400": {
            "description": "Service error relating to finding a chunk by tracking_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/chunk/{chunk_id}": {
      "get": {
        "tags": [
          "Chunk"
        ],
        "summary": "Get Chunk By Id",
        "description": "Get a singular chunk by id.",
        "operationId": "get_chunk_by_id",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "The API version to use for this request. Defaults to V2 for orgs created after July 12, 2024 and V1 otherwise.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/APIVersion"
                }
              ],
              "nullable": true
            }
          },
          {
            "name": "chunk_id",
            "in": "path",
            "description": "Id of the chunk you want to fetch.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "chunk with the id that you were searching for",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChunkReturnTypes"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to fidning a chunk by tracking_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Chunk not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Chunk"
        ],
        "summary": "Delete Chunk",
        "description": "Delete a chunk by its id. Auth'ed user or api key must have an admin or owner role for the specified dataset's organization.",
        "operationId": "delete_chunk",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "chunk_id",
            "in": "path",
            "description": "Id of the chunk you want to fetch.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Confirmation that the chunk with the id specified was deleted"
          },
          "400": {
            "description": "Service error relating to finding a chunk by tracking_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/chunk_group": {
      "post": {
        "tags": [
          "Chunk Group"
        ],
        "summary": "Create or Upsert Group or Groups",
        "description": "Create new chunk_group(s). This is a way to group chunks together. If you try to create a chunk_group with the same tracking_id as an existing chunk_group, this operation will fail. Only 1000 chunk groups can be created at a time. Auth'ed user or api key must have an admin or owner role for the specified dataset's organization.",
        "operationId": "create_chunk_group",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to cretea a chunk_group(s)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChunkGroupReqPayloadEnum"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the created chunk_group if a single chunk_group was specified or an array of all chunk_groups which were created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChunkGroupResponseEnum"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to creating the chunk_group(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "413": {
            "description": "Service error indicating more 1000 chunk groups are trying to be created at once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Chunk Group"
        ],
        "summary": "Update Group",
        "description": "Update a chunk_group. One of group_id or tracking_id must be provided. If you try to change the tracking_id to one that already exists, this operation will fail. Auth'ed user or api key must have an admin or owner role for the specified dataset's organization.",
        "operationId": "update_chunk_group",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to update a chunkGroup",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChunkGroupReqPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Confirmation that the chunkGroup was updated"
          },
          "400": {
            "description": "Service error relating to updating the chunkGroup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/chunk_group/chunk/{group_id}": {
      "post": {
        "tags": [
          "Chunk Group"
        ],
        "summary": "Add Chunk to Group",
        "description": "Route to add a chunk to a group. One of chunk_id or chunk_tracking_id must be provided. Auth'ed user or api key must have an admin or owner role for the specified dataset's organization.",
        "operationId": "add_chunk_to_group",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "Id of the group to add the chunk to as a bookmark",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to add a chunk to a group (bookmark it)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddChunkToGroupReqPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Confirmation that the chunk was added to the group (bookmark'ed)."
          },
          "400": {
            "description": "Service error relating to getting the groups that the chunk is in.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Chunk Group"
        ],
        "summary": "Remove Chunk from Group",
        "description": "Route to remove a chunk from a group. Auth'ed user or api key must be an admin or owner of the dataset's organization to remove a chunk from a group.",
        "operationId": "remove_chunk_from_group",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "Id of the group you want to remove the chunk from.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "chunk_id",
            "in": "query",
            "description": "Id of the chunk you want to remove from the group",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to remove a chunk from a group",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RemoveChunkFromGroupReqPayload"
                  }
                ],
                "nullable": true
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "Confirmation that the chunk was removed to the group"
          },
          "400": {
            "description": "Service error relating to removing the chunk from the group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/chunk_group/chunks": {
      "post": {
        "tags": [
          "Chunk Group"
        ],
        "summary": "Get Groups for Chunks",
        "description": "Route to get the groups that a chunk is in.",
        "operationId": "get_groups_for_chunks",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to get the groups that a chunk is in",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetGroupsForChunksReqPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "JSON body representing the groups that the chunk is in",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupsForChunk"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to getting the groups that the chunk is in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      }
    },
    "/api/chunk_group/count": {
      "post": {
        "tags": [
          "Chunk Group"
        ],
        "summary": "Count Chunks in a Group",
        "description": "Route to get the number of chunks that is in a group",
        "operationId": "count_group_chunks",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to add a chunk to a group (bookmark it)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChunkGroupCountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "JSON body representing the group with the count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChunkGroupCountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to getting the group with the given tracking id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Group not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      }
    },
    "/api/chunk_group/group_oriented_autocomplete": {
      "post": {
        "tags": [
          "Chunk Group"
        ],
        "summary": "Autocomplete Search Over Groups",
        "description": "This route provides the primary autocomplete functionality for the API. This prioritize prefix matching with semantic or full-text search.",
        "operationId": "autocomplete_search_over_groups",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "The API version to use for this request. Defaults to V2 for orgs created after July 12, 2024 and V1 otherwise.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/APIVersion"
                }
              ],
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to semantically search for groups",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutocompleteSearchOverGroupsReqPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Groups with embedding vectors which are similar to those in the request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchOverGroupsResponseBody"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to searching",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      }
    },
    "/api/chunk_group/group_oriented_search": {
      "post": {
        "tags": [
          "Chunk Group"
        ],
        "summary": "Search Over Groups",
        "description": "This route allows you to get groups as results instead of chunks. Each group returned will have the matching chunks sorted by similarity within the group. This is useful for when you want to get groups of chunks which are similar to the search query. If choosing hybrid search, the top chunk of each group will be re-ranked using scores from a cross encoder model. Compatible with semantic, fulltext, or hybrid search modes.",
        "operationId": "search_over_groups",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "The API version to use for this request. Defaults to V2 for orgs created after July 12, 2024 and V1 otherwise.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/APIVersion"
                }
              ],
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to semantically search over groups",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchOverGroupsReqPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Group chunks which are similar to the embedding vector of the search query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchOverGroupsResponseTypes"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to searching over groups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      }
    },
    "/api/chunk_group/recommend": {
      "post": {
        "tags": [
          "Chunk Group"
        ],
        "summary": "Get Recommended Groups",
        "description": "Route to get recommended groups. This route will return groups which are similar to the groups in the request body. You must provide at least one positive group id or group tracking id.",
        "operationId": "get_recommended_groups",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "The API version to use for this request. Defaults to V2 for orgs created after July 12, 2024 and V1 otherwise.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/APIVersion"
                }
              ],
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to get recommendations of chunks similar to the chunks in the request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecommendGroupsReqPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "JSON body representing the groups which are similar to the positive groups and dissimilar to the negative ones",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendGroupsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to to getting similar chunks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      }
    },
    "/api/chunk_group/search": {
      "post": {
        "tags": [
          "Chunk Group"
        ],
        "summary": "Search Within Group",
        "description": "This route allows you to search only within a group. This is useful for when you only want search results to contain chunks which are members of a specific group. If choosing hybrid search, the results will be re-ranked using scores from a cross encoder model.",
        "operationId": "search_within_group",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "The API version to use for this request. Defaults to V2 for orgs created after July 12, 2024 and V1 otherwise.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/APIVersion"
                }
              ],
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to semantically search a group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchWithinGroupReqPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Group chunks which are similar to the embedding vector of the search query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchGroupResponseTypes"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to getting the groups that the chunk is in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      }
    },
    "/api/chunk_group/tracking_id/{group_tracking_id}/{page}": {
      "get": {
        "tags": [
          "Chunk Group"
        ],
        "summary": "Get Chunks in Group by Tracking ID",
        "description": "Route to get all chunks for a group. The response is paginated, with each page containing 10 chunks. Support for custom page size is coming soon. Page is 1-indexed.",
        "operationId": "get_chunks_in_group_by_tracking_id",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "group_tracking_id",
            "in": "path",
            "description": "The id of the group to get the chunks from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "The version of the API to use for the request",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/APIVersion"
                }
              ],
              "nullable": true
            }
          },
          {
            "name": "page",
            "in": "path",
            "description": "The page of chunks to get from the group",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chunks present within the specified group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChunksInGroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to getting the groups that the chunk is in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Group not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      }
    },
    "/api/chunk_group/tracking_id/{tracking_id}": {
      "get": {
        "tags": [
          "Chunk Group"
        ],
        "summary": "Get Group by Tracking ID",
        "description": "Fetch the group with the given tracking id.\nget_group_by_tracking_id",
        "operationId": "get_group_by_tracking_id",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tracking_id",
            "in": "path",
            "description": "The tracking id of the group to fetch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON body representing the group with the given tracking id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChunkGroupAndFileId"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to getting the group with the given tracking id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Group not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Chunk Group"
        ],
        "summary": "Add Chunk to Group by Tracking ID",
        "description": "Route to add a chunk to a group by tracking id. One of chunk_id or chunk_tracking_id must be provided. Auth'ed user or api key must have an admin or owner role for the specified dataset's organization.",
        "operationId": "add_chunk_to_group_by_tracking_id",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tracking_id",
            "in": "path",
            "description": "Tracking id of the group to add the chunk to as a bookmark",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "JSON request payload to add a chunk to a group via tracking_id",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddChunkToGroupReqPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Confirmation that the chunk was added to the group"
          },
          "400": {
            "description": "Service error related to adding the chunk group by tracking_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Chunk Group"
        ],
        "summary": "Delete Group by Tracking ID",
        "description": "Delete a chunk_group with the given tracking id. Auth'ed user or api key must have an admin or owner role for the specified dataset's organization.",
        "operationId": "delete_group_by_tracking_id",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tracking_id",
            "in": "path",
            "description": "Tracking id of the chunk_group to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "delete_chunks",
            "in": "query",
            "description": "Delete the chunks within the group",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Confirmation that the chunkGroup was deleted"
          },
          "400": {
            "description": "Service error relating to deleting the chunkGroup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/chunk_group/{group_id}": {
      "get": {
        "tags": [
          "Chunk Group"
        ],
        "summary": "Get Group",
        "description": "Fetch the group with the given id.",
        "operationId": "get_chunk_group",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "Id of the group you want to fetch.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON body representing the group with the given tracking id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChunkGroupAndFileId"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to getting the group with the given tracking id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Group not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Chunk Group"
        ],
        "summary": "Delete Group",
        "description": "This will delete a chunk_group. If you set delete_chunks to true, it will also delete the chunks within the group. Auth'ed user or api key must have an admin or owner role for the specified dataset's organization.",
        "operationId": "delete_chunk_group",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "Id of the group you want to fetch.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "delete_chunks",
            "in": "query",
            "description": "Delete the chunks within the group",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Confirmation that the chunkGroup was deleted"
          },
          "400": {
            "description": "Service error relating to deleting the chunkGroup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/chunk_group/{group_id}/{page}": {
      "get": {
        "tags": [
          "Chunk Group"
        ],
        "summary": "Get Chunks in Group",
        "description": "Route to get all chunks for a group. The response is paginated, with each page containing 10 chunks. Page is 1-indexed.",
        "operationId": "get_chunks_in_group",
        "parameters": [
          {
            "name": "TR-Dataset",
            "in": "header",
            "description": "The dataset id or tracking_id to use for the request. We assume you intend to use an id if the value is a valid uuid.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "Id of the group you want to fetch.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "The version of the API to use for the request",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/APIVersion"
                }
              ],
              "nullable": true
            }
          },
          {
            "name": "page",
            "in": "path",
            "description": "The page of chunks to get from the group",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chunks present within the specified group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChunksInGroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Service error relating to getting the groups that the chunk is in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Group not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [
              "readonly"
            ]
          }
        ]
      }
    },
    "/api/chunks": {
      "post": {
[...]
