@tailwind base;
@tailwind components;
@tailwind utilities;

mark > div > * {
  background-color: #ff0;
  color: #000;
  font-weight: bolder;
  width: fit-content;
}

mark > p {
  background-color: #ff0;
  color: #000;
  font-weight: bolder;
  width: fit-content;
}

b > mark > h1, h2, h3, h4, h5, h6 {
  background-color: #ff0;
  color: #000;
  font-weight: bolder;
  width: fit-content;
}

.debug {
  outline: 1px solid red;
}
