annotated-types==0.6.0
anyio==4.3.0
click==8.1.7
fastapi==0.110.2
h11==0.14.0
idna==3.7
pydantic==2.7.0
pydantic_core==2.18.1
python-dateutil==2.9.0.post0
six==1.16.0
sniffio==1.3.1
starlette==0.37.2
trieve_py_client==0.7.2
typing_extensions==4.11.0
urllib3==2.0.7
uvicorn==0.29.0
