{% extends "skeleton.html" %} {% block body %}
<div class="flex justify-center items-center h-[75vh] px-4">
  <form class="max-w-md mx-auto">
    <div class="text-center">
      <h2
        class="text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl"
      >
        OCR With Intelligence
      </h2>
      <p class="mt-2 text-pretty text-lg/8 text-gray-600">
        Convert any PDF to LLM-ready Markdown using latest-gen vision models
        like GPT-4o.
      </p>
    </div>
    <div
      class="mt-4 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10"
    >
      <div class="text-center">
        <svg
          class="mx-auto size-12 text-gray-300"
          viewBox="0 0 24 24"
          fill="currentColor"
          aria-hidden="true"
          data-slot="icon"
        >
          <path
            fill-rule="evenodd"
            d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z"
            clip-rule="evenodd"
          />
        </svg>
        <div class="mt-4 flex text-sm/6 text-gray-600">
          <label
            for="file-upload"
            class="relative cursor-pointer rounded-md bg-white font-semibold text-magenta-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-magenta-600 focus-within:ring-offset-2 hover:text-magenta-500"
          >
            <span>Upload a file</span>
            <input
              id="file-upload"
              name="file-upload"
              type="file"
              accept=".pdf"
              class="sr-only"
            />
          </label>
          <p class="pl-1">or drag and drop</p>
        </div>
        <p class="text-xs/5 text-gray-600">PDF</p>
      </div>
    </div>
  </form>
</div>
{% endblock %}
