<!doctype html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://cdn.trieve.ai/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://cdn.trieve.ai/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://cdn.trieve.ai/favicon-16x16.png"
    />
    <link rel="stylesheet" href="/static/output.css" />
  </head>
  <body>
    <div class="basic">
      <div id="root"><p class="bg-blue-500">Hello World</p></div>
    </div>
  </body>
</html>
