<!doctype html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      defer
      data-domain="pdf2md.trieve.ai"
      src="https://plausible.trieve.ai/js/script.js"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://cdn.trieve.ai/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://cdn.trieve.ai/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://cdn.trieve.ai/favicon-16x16.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Trieve HN Discovery (No JS)" />
    <meta property="og:site_name" content="PDF2MD by trieve.ai" />
    <meta property="og:url" content="https://pdf2md.trieve.ai" />
    <meta
      property="og:description"
      content="Open Source PDF to Markdown Converter using Vision Large Language Models like GPT-4o"
    />
    <meta property="og:image" content="https://cdn.trieve.ai/trieve-og.png" />
    <title>Trieve PDF2MD</title>
    <link rel="stylesheet" href="/static/output.css" />

    {% if is_dev %}
      <script type="module" src="http://localhost:5173/@vite/client"></script>
			<script type="module" src="http://localhost:5173/client-src/index.tsx"></script>
    {% else %}
      <script type="module" src="/static/client/index.js"></script>
    {% endif %}

  </head>

  <body>
    <div id="root"></div>
    <div id="">
      <header class="bg-white">
        <nav
          class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8 flex-wrap"
          aria-label="Global"
        >
          <a class="flex items-center" href="https://trieve.ai" target="_blank">
            <span
              class="self-center text-lg md:text-2xl font-medium whitespace-nowrap"
            >
              <img
                src="https://cdn.trieve.ai/trieve-logo.png"
                alt="Trieve logo"
                class="h-12 w-12 inline"
              />
              Trieve PDF2MD
            </span>
          </a>
          <div class="flex gap-x-4 gap-y-6 lg:gap-x-12 flex-wrap">
            <a
              href="mailto:humans@trieve.ai"
              class="text-sm/6 font-semibold text-gray-900"
              target="_blank"
            >
              humans@trieve.ai
            </a>
            <a
              href="https://cal.com/nick.k"
              class="text-sm/6 font-semibold text-gray-900"
              target="_blank"
            >
              Meet With Sales
            </a>
            <a
              href="https://github.com/devflowinc/trieve/tree/main/pdf2md/self-hosting.md"
              class="text-sm/6 font-semibold text-gray-900"
              target="_blank"
            >
              Self-Host Free
            </a>
            <a
              href="https://x.com/trieveai"
              class="text-sm/6 font-semibold text-gray-900"
              target="_blank"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
              </svg>
            </a>
            <a
              href="https://linkedin.com/company/trieveai"
              class="text-sm/6 font-semibold text-gray-900"
              target="_blank"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M8 11v5" />
                <path d="M8 8v.01" />
                <path d="M12 16v-5" />
                <path d="M16 16v-3a2 2 0 1 0 -4 0" />
                <path
                  d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z"
                />
              </svg>
            </a>
            <a
              href="https://discord.gg/E9sPRZqpDT"
              class="text-sm/6 font-semibold text-gray-900"
              target="_blank"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-discord"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M8 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
                <path d="M14 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
                <path
                  d="M15.5 17c0 1 1.5 3 2 3c1.5 0 2.833 -1.667 3.5 -3c.667 -1.667 .5 -5.833 -1.5 -11.5c-1.457 -1.015 -3 -1.34 -4.5 -1.5l-.972 1.923a11.913 11.913 0 0 0 -4.053 0l-.975 -1.923c-1.5 .16 -3.043 .485 -4.5 1.5c-2 5.667 -2.167 9.833 -1.5 11.5c.667 1.333 2 3 3.5 3c.5 0 2 -2 2 -3"
                />
                <path d="M7 16.5c3.5 1 6.5 1 10 0" />
              </svg>
            </a>
            <a href="https://github.com/devflowinc/trieve" target="_blank">
              <img
                alt="GitHub Repo stars"
                src="https://img.shields.io/github/stars/devflowinc/trieve?style=for-the-badge&label=star%20us&labelColor=%23111827&color=%23a33eb5&logo=github"
              />
            </a>
          </div>
        </nav>
      </header>
      <div class="flex justify-center items-center h-[75vh] px-4">
        <form class="max-w-md mx-auto">
          <div class="text-center">
            <h2
              class="text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl"
            >
              OCR With Intelligence
            </h2>
            <p class="mt-2 text-pretty text-lg/8 text-gray-600">
              Convert any PDF to LLM-ready Markdown using latest-gen vision
              models like GPT-4o.
            </p>
          </div>
          <div
            class="mt-4 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10"
          >
            <div class="text-center">
              <svg
                class="mx-auto size-12 text-gray-300"
                viewBox="0 0 24 24"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z"
                  clip-rule="evenodd"
                />
              </svg>
              <div class="mt-4 flex text-sm/6 text-gray-600">
                <label
                  for="file-upload"
                  class="relative cursor-pointer rounded-md bg-white font-semibold text-magenta-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-magenta-600 focus-within:ring-offset-2 hover:text-magenta-500"
                >
                  <span>Upload a file</span>
                  <input
                    id="file-upload"
                    name="file-upload"
                    type="file"
                    accept=".pdf"
                    class="sr-only"
                  />
                </label>
                <p class="pl-1">or drag and drop</p>
              </div>
              <p class="text-xs/5 text-gray-600">PDF</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
