{% extends "skeleton.html" %} {% block body %}
  <div>Viewing pdf</div>

  <canvas id="the-canvas" style="border: 1px solid black; direction: ltr;"></canvas>


  <script src="/static/viewpdf.js" type="module" defer></script>
{% endblock %}


{% block scripts %}

  <script>
    window.pdf_url = "{{ pdf_url|safe }}";
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.8.69/pdf.mjs" type="module"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.8.69/pdf_viewer.mjs" defer type="module"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.8.69/pdf_viewer.min.css" integrity="sha512-qBj3yMdvzL7dOHWfvs21eTD0LURNR9Jhcy5ZMfR7E5NOKev5i9Iu49Yuijdm/or10JyenuaRuflq6DG/E04fcQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}
