apiVersion: apps/v1
kind: Deployment
metadata:
  name: trieve-embedding
spec:
  selector: {}
  template:
    spec:
      containers:
        - name: embedding
          args:
            - --model-id
            - BAAI/bge-reranker-base
            - --revision
            - main
          resources:
            requests:
              memory: 2Gi
            limits:
              memory: 2Gi
