project = "************-*******-******"
cluster_name = "trievegcp"
region = "us-central2"
zone = "us-central2-a"

standard-machine-type = "n2-standard-8"
gpu-machine-type = "g2-standard-4"
gpu-accelerator-type = "nvidia-l4"
