---
import SearchLayout from "../../../layouts/SearchLayout.astro";
import SetPasswordForm from "../../../components/SetPasswordForm";
import Footer from "../../../components/Footer.astro";

const { id } = Astro.params;
---

<SearchLayout title="Set Password | Arguflow Search">
  <div class="flex-1"></div>
  <div class="flex justify-center">
    <SetPasswordForm id={id ?? ""} client:load />
  </div>
  <div class="flex-1"></div>
  <Footer />
</SearchLayout>
