---
import SearchLayout from "../../../layouts/SearchLayout.astro";
import RegisterForm from "../../../components/RegisterForm";
import Footer from "../../../components/Footer.astro";
---

<SearchLayout title="Register | Arguflow Search">
  <div class="flex-1"></div>
  <div class="flex justify-center">
    <RegisterForm client:load />
  </div>
  <div class="flex-1"></div>
  <Footer />
</SearchLayout>
