<div class="max-w-full">
  <div
    id="product-display"
    class="mx-auto py-6 px-4 mt-40 sm:px-6 sm:mt-30 lg:max-w-7xl lg:px-8"
  >
    <section class="lg:flex gap-2 lg:gap-x-8 lg:gap-y-10 xl:gap-x-16">
      <div class="lg:w-1/2">
        <img
          src="{{ params.singleProductOptions.productPrimaryImageUrl }}"
          alt="View of product."
          class="aspect-4/3 w-full rounded-lg bg-gray-100 object-cover max-h-80 sm:max-h-[30rem]"
        />
      </div>

      <div class="mx-auto mt-4 lg:mt-0 lg:w-1/2">
        <h1
          class="text-brand-color text-2xl font-bold tracking-tight sm:text-3xl"
        >
          {{ params.singleProductOptions.productName }}
        </h1>

        <div class="mt-2 text-gray-500 paragraph-text">
          {{ params.singleProductOptions.productDescriptionHtml|safe }}
        </div>

        <div class="mt-4">
          <button
            type="button"
            class="bg-brand-color cursor-not-allowed flex w-full items-center justify-center rounded-md border border-transparent px-8 py-3 text-base font-medium text-white focus:ring-0 focus:outline-hidden"
          >
            Add to cart
          </button>
        </div>

        <div class="mt-4 border-t border-gray-200">
          <h3 class="text-brand-color text-sm font-medium mt-4">
            <span class="text-brand-color"
              ><i class="fa-solid fa-wand-magic-sparkles"></i
            ></span>
            Ask AI
          </h3>
          <div class="starter-questions flex flex-wrap gap-1 mt-2">
            {% for question in params.singleProductOptions.productQuestions %}
            <button
              type="button"
              class="bg-gray-50 px-3 py-1.5 text-sm rounded-lg text-brand-color"
            >
              {{ question }}
            </button>
            {% endfor %}
            <button
              type="button"
              class="bg-brand-color px-3 py-1.5 text-sm rounded-lg text-white"
            >
              Ask something else
            </button>
          </div>
        </div>
      </div>
    </section>

    <section
      aria-labelledby="related-heading"
      class="border-t border-gray-200 mt-4"
    >
      <div class="recs-section">
        <h2
          id="related-heading"
          class="text-brand-color text-xl font-bold mt-8 w-fit"
        >
          Related products
        </h2>
        <h4 class="text-sm text-gray-500 mt-2 w-fit">
          Tailored to user history. AI automatically optimizes conversions.
        </h4>

        <div
          class="recs mt-6 flex flex-nowrap overflow-x-auto gap-x-4 sm:gap-x-6 xl:gap-x-8 py-2 mr-4 sm:mr-6 lg:mr-8"
        >
          {% for i in range(5) %}
          <div class="w-64 flex-shrink-0">
            <div class="h-72 w-full overflow-hidden rounded-lg">
              <div class="h-full w-full bg-gray-200 animate-pulse"></div>
            </div>
            <div class="mt-4">
              <div class="h-4 w-2/3 bg-gray-200 rounded animate-pulse"></div>
              <div
                class="mt-1 h-4 w-1/2 bg-gray-200 rounded animate-pulse"
              ></div>
            </div>
            <div class="mt-6">
              <div
                class="w-full cursor-not-allowed h-10 bg-gray-200 rounded-md animate-pulse"
              ></div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
</div>
<script type="module">
  const recommendations = await fetch(
    `${window.paramsData.baseUrl}/api/chunk_group/group_oriented_search`,
    {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Authorization: "Bearer " + window.paramsData.apiKey,
        "TR-Dataset": window.paramsData.datasetId,
      },
      body: JSON.stringify({
        query: window.paramsData.singleProductOptions.recSearchQuery,
        use_quote_negated_terms: true,
        search_type: "semantic",
        group_size: 1,
        page_size: 8,
      }),
      credentials: "omit",
    }
  );
  const recommendationsData = await recommendations.json();
  const recommendedResults = recommendationsData.results
    .map((result) => {
      return result.chunks;
    })
    .flat();
  const recDivs = [];

  for (const result of recommendedResults) {
    const chunk = result.chunk;
    const imageUrl = chunk.image_urls?.length
      ? chunk.image_urls[0]
      : chunk.metadata.images?.length
        ? chunk.metadata.images[0].src
        : null;
    if (!imageUrl) {
      continue;
    }

    const chunkHtmlElement = document.createElement("div");
    chunkHtmlElement.innerHTML = chunk.chunk_html;
    const firstHeading = chunkHtmlElement.querySelector(
      "h1, h2, h3, h4, h5, h6"
    );
    if (firstHeading) {
      firstHeading.remove();
    }
    const title = firstHeading?.textContent || chunk.metadata.title;
    if (!title) {
      continue;
    }

    const sentences = chunkHtmlElement.textContent.split(/[.,!?]+/);
    const description = chunkHtmlElement.textContent;

    const priceNum =
      chunk.num_value || chunk.metadata.variants?.length
        ? chunk.metadata.variants[0].price
          ? parseFloat(chunk.metadata.variants[0].price)
          : null
        : null;
    const price = priceNum ? `$${priceNum.toFixed(2)}` : null;

    const chunkElement = document.createElement("div");
    chunkElement.classList.add(...["rec", "w-64", "flex-shrink-0"]);
    chunkElement.innerHTML = `
      <div class="h-72 w-full overflow-hidden rounded-lg">
        <img
          src="${imageUrl}"
          alt="${title}"
          class="rec-image size-full object-cover"
        />
      </div>
      <div class="mt-4">
        <h3 class="text-brand-color line-clamp-1 text-sm font-medium">${title}</h3>
        <h6 class="rec-price mt-1 text-sm text-gray-700">${price}</h6>
        <p class="rec-description line-clamp-1 mt-1 text-sm text-gray-500">${description}</p>
      </div>
      <div class="mt-6">
        <button
          class="bg-brand-color cursor-not-allowed w-full flex items-center justify-center rounded-md border border-transparent px-8 py-2 text-sm font-medium text-white"
        >
          Add to cart
        </button>
      </div>
    `;

    recDivs.push(chunkElement);
  }

  const recs = document.querySelector(".recs");
  recs.innerHTML = "";
  recDivs.forEach((recDiv) => {
    recs.appendChild(recDiv);
  });
</script>
<script type="module">
  const getGroupByTrackingIdResp = await fetch(
    `${window.paramsData.baseUrl}/api/chunk_group/tracking_id/${window.paramsData.singleProductOptions.groupTrackingId}`,
    {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
        Authorization: "Bearer " + window.paramsData.apiKey,
        "TR-Dataset": window.paramsData.datasetId,
      },
      credentials: "omit",
    }
  );
  const group = await getGroupByTrackingIdResp.json();

  const starterQuestions = document.querySelectorAll(
    ".starter-questions button"
  );
  starterQuestions.forEach((button) => {
    button.addEventListener("click", async () => {
      const message =
        button.textContent.trim() === "Ask something else"
          ? null
          : button.textContent.trim();
      const betterGroupName =
        window.paramsData.singleProductOptions.productName;

      window.dispatchEvent(
        new CustomEvent("trieve-start-chat-with-group", {
          detail: {
            group,
            betterGroupName,
            message,
          },
        })
      );
    });
  });
</script>
