apiVersion: apps/v1
kind: Deployment
metadata:
  name: trieve-ui
spec:
  selector: {}
  template:
    spec:
      containers:
        - name: ui
          image: ui
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: trieve-ui-config
          resources:
            requests:
              cpu: 10m
              memory: 50Mi
            limits:
              memory: 500Mi
