name: rust test suite

on: 
  pull_request:
    paths:
      'server/**.rs'
  push:
    paths:
      'server/**.rs'
jobs:
  clippy_check:
    runs-on: dpokidov/imagemagick
    steps:
      - uses: actions/checkout@v1
      - run: rustup component add clippy
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --features runtime-env --manifest-path server/Cargo.toml

